.header{
    top: 0;
    left: 0;
    position:fixed;
    width:100%;
    padding:25px;
    background-color:#5D3C64;
    backdrop-filter:blur;
    display:flex;
    justify-content:space-around;
    align-items:center;
    z-index:100; 
    font-size: 35px;   
}
.logo{
    font-size:40;
    color:#D391B0;
    font: weight 800;
    text-decoration: dotted;
    transition:0.3s ease-in-out;
}
.logo:hover{
    color:black;
    text-shadow:0 0 10px black,
                0 0 10px black;
}

span{
    font-size:60px;
    color:#EEE2DF;
}

.navbar a{
    color: #D391B0;
    font-size:35px;
    text-decoration: none;
    font: weight 800;
    margin:20px;
    border-bottom: 3px solid transparent;
    transition:0.3s ease-in-out;
    
}
.navbar a:hover,
.navbar a.active{
    color:E8D8C4;
    border-bottom: 2px solid WHITE;
}
.home-content{
    font-size:85;
    color:#BA6E8F;
    font: weight 800;
    text-decoration: dotted;
    text-shadow: 10px;
    font-style:inherit;
    text-align: center;
    align-items: center;  
   
}
.circle{
   
        width: 250px; 
        height: 250px; 
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        
      
}
.circle img{
   
    width: 250px; 
    height: 250px;
    position: absolute;
    right: 0;
    
}


h2{
    text-align: center;
    padding-top: 120px;
    font-size: 70px;
    color:#BA6E8F;
    font-size: 80px;
}

h4{
    margin-top: 0px;
    margin-bottom: 7px;
    text-align: center;
    display: inline-block;
    font-size: 80px;
    width: 100%;
}

.text{
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
           typing 2s steps(23,end),
           cursor .4s step-end infinite alternate;
}
@keyframes cursor{
     50%{border-color: transparent;}/*At 50% border-color property will change to transparent.*/
} 
@keyframes typing{
    from{width: 0}
}

h3{
    width: 60%;
    text-align: left;
    font-size: 45px;
    margin-left: 100px;
    color: #5D3C64;
}
p{
    text-align: left;
    font-size: 35px;
    margin-left: 100px;
    margin-right: 600px;
    color: BA6E8F;
}

.circle2{
   
    width: 250px; 
    height: 250px; 
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    justify-content:space-around;
    margin: 10px;
    padding: 20px;
  
}
.circle2 img{

width: 250px; 
height: 250px;
position: absolute;
right: 0;

}
.hob{
    text-align: left;
    font-size: 65px;
    margin-left: 100px;
    color: #5D3C64;
}
.school{
    text-align: center;
    border:2px solid ;
    border-radius: 40px;
    width:300px;
    height:300px;
    background-color:#DEC0F1;
    box-shadow: 5px 10px;
    
}
.college{

    text-align: center;
    border:2px solid ;
    border-radius: 40px;
    width:300px;
    height:300px;
    margin-left: 450px;
    background-color:#B99CC8;
    box-shadow: 5px 10px;

}
.uni{
    text-align: center;
    border:2px solid ;
    border-radius: 40px;
    width:300px;
    height:300px;
    margin-left: 750px;
    background-color:#E5D9F2;
    box-shadow: 5px 10px;
}

.contact-left p i{
color:black;
font-size:40px;
margin-left: 300px;
}

.social-icons a i{
    text-decoration: none;
    justify-content: space-between;
    color:black;
    font-size:60px;
    margin-left: 10px;
}

.title{
    width:100%;
    padding:45px;
    background-color:#E5D9F2;
    backdrop-filter:blur;
    justify-content:space-around;
    display:flex;
    align-items:end;
    z-index:100;    
    font-size: 80px;
}






